body {
  background-image: url("../images/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-size: 60px;
  font-family: sans-serif;;
}
.title-heading {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
